# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
dist

# local env / tooling
.env
.env.*
.vscode
.idea

# git / docs / misc
.git
.gitignore
README.md
*.md

# system files
.DS_Store
Thumbs.db
